@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&family=Work+Sans:wght@300;400&display=swap');

* {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
}

:root {
  --background-color: #eff0f3;
  --headline-color: #0d0d0d;
  --paragraph-color: #2a2a2a;
  --button-color: #ff8e3c;
  --button-text-color: #0d0d0d;
  --border-color: #0d0d0d;
  --card-background-color: #fffffe;
  --card-button-color: #ff8e3c;
  --card-buttton-text: #fffffe;
  --about-background-color: #fffffe;
  --special-card-bg-color: #eff0f3;
  --special-card-hd-color: #0d0d0d;
  --special-card-pr-color: #2a2a2a;
}

html {
	transition: all 0.3s ease-in;
}

html.dark {
  --background-color: #232946;
  --headline-color: #fffffe;
  --paragraph-color: #b8c1ec;
  --button-color: #eebbc3;
  --button-text-color: #232946;
  --border-color: #121629;
  --card-background-color: #fffffe;
  --card-button-color: #232946;
  --card-buttton-text: #b8c1ec;
  --about-background-color: #eebbc3;
  --special-card-bg-color: #fffffe;
  --special-card-hd-color: #232946;
  --special-card-pr-color: #232946;
}

/*NavBar Container*/

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 7%;
	transition: all 0.3s ease-in-out;
}


.navbar h3{
	color: var(--paragraph-color);
	cursor: pointer;
}

.navbar ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.navbar a {
	color: var(--paragraph-color);
	text-decoration: none;
	padding: 7px 20px;
}


.navbar.active {
	background-color: var(--background-color);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
}

.navbar a.current, .navbar a:hover, .navbar .btn:hover {
	color: --var(headline-color);
	font-weight: bold;
}

.navbar .btn {
	font-family: 'Work Sans', 'sans-serif';
	background-color: transparent;
	border: 0;
	color: var(--paragraph-color);
	padding: 7px 20px;
	font-size: 1rem;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

/*HERO Container*/

.hero-container {
	background-color: var(--background-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	position: relative;
	text-align: center;
	transition: all 0.3s ease-in;
	overflow: hidden;
}

.hero-container h1 {
	color: var(--paragraph-color);
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 4rem;
	margin: 1rem;
	padding: 1rem;
	letter-spacing: 0.2rem;
}

.hero-container h1 span{
	color: var(--headline-color); 
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: bold;
	font-size: 5rem;
	letter-spacing: 0.3rem;
}

.hero-container p {
	color: var(--paragraph-color);
	font-family: 'Work Sans','sans-serif';
	width: 30%;
	margin: 1rem;
	padding: 1rem;
	letter-spacing: 0.5px;
	line-height: 150%;
}


/* About Section */

.about {
	height: 89vh;
}

